In [18]:
import pandas as pd
data = pd.read_csv("student_survey_2018.csv")

In [20]:
data = data.drop(20).drop(["#", "M/I"], axis=1)

,Sex,Wr.Hnd,NW.Hnd,Wr.H,Fold,Pulse,Clap,Exer,Smoke,Height,Age
0,Female,19.5,20.0,NaN,L on R,79.0,Right,Some,Never,170.0,24.0
1,Female,20.2,20.7,NaN,R on L,80.0,Right,Freq,Never,168.0,26.0
2,Female,21.0,21.1,NaN,L on R,82.0,Right,Some,Occas,158.0,27.0
3,Male,20.5,18.4,Right,Right,79.0,Right,Some,Never,173.0,28.0
4,Male,21.4,18.5,Right,Right,89.0,Right,None,Never,170.0,25.0
5,Male,20.5,21.1,Right,Right,79.0,Neither,Some,Never,178.0,28.0
6,Male,22.5,21.5,Right,L on R,64.0,Neither,Freq,Regul,189.0,22.0
7,Female,19.5,20.5,Right,L on R,75.0,Neither,Some,Never,163.0,23.0
8,Male,21.0,22.0,Right,L on R,66.0,Right,Some,Never,174.0,28.0
9,Male,22.5,22.7,Right,R on L,73.0,Neither,Freq,Never,181.0,28.0
10,Female,18.6,18.4,Right,R on L,88.0,Left,Freq,Occas,174.0,27.0
11,Male,22.0,22.0,Right,L on R,87.0,Right,Some,Regul,174.0,28.0
12,male,21.8,22.7,Right,R on L,77.0,Right,None,Never,183.0,22.0
13,female,19.7,19.2,Right,R on L,79.0,Neither,Some,Never,168.0,23.0
14,Female,17.1,17.9,Right,Right,72.0,Neither,Some,Never,170.3,24.0
15,Male,21.6,20.6,Right,Left,75.0,Left,Some,Occas,176.0,23.0
16,Male,18.6,18.3,Right,Left,78.0,Right,Some,Never,184.0,23.0
17,Male,23.5,24.0,Right,L on R,86.0,Right,Freq,Never,189.0,28.0
18,Male,22.5,22.5,Right,Neither,59.0,Left,Freq,Never,182.0,25.0
19,Male,21.5,21.5,Right,R on L,83.0,Right,Freq,Occas,181.0,30.0

In [31]:
data["Sex"] = data['Sex'].replace({'female': 'F', 'Female': 'F', 'male': 'M', 'Male': 'M'})
data["Fold"] = data["Fold"].replace({'Right':'R on L', 'Left':'L on R'})
data["Wr.H"] = data["Wr.H"].replace({"NaN":'Right'})

NameError: name 'NaN' is not defined

In [30]:
data

,Sex,Wr.Hnd,NW.Hnd,Wr.H,Fold,Pulse,Clap,Exer,Smoke,Height,Age
0,F,19.5,20.0,NaN,L on R,79.0,Right,Some,Never,170.0,24.0
1,F,20.2,20.7,NaN,R on L,80.0,Right,Freq,Never,168.0,26.0
2,F,21.0,21.1,NaN,L on R,82.0,Right,Some,Occas,158.0,27.0
3,M,20.5,18.4,Right,R on L,79.0,Right,Some,Never,173.0,28.0
4,M,21.4,18.5,Right,R on L,89.0,Right,None,Never,170.0,25.0
5,M,20.5,21.1,Right,R on L,79.0,Neither,Some,Never,178.0,28.0
6,M,22.5,21.5,Right,L on R,64.0,Neither,Freq,Regul,189.0,22.0
7,F,19.5,20.5,Right,L on R,75.0,Neither,Some,Never,163.0,23.0
8,M,21.0,22.0,Right,L on R,66.0,Right,Some,Never,174.0,28.0
9,M,22.5,22.7,Right,R on L,73.0,Neither,Freq,Never,181.0,28.0
10,F,18.6,18.4,Right,R on L,88.0,Left,Freq,Occas,174.0,27.0
11,M,22.0,22.0,Right,L on R,87.0,Right,Some,Regul,174.0,28.0
12,M,21.8,22.7,Right,R on L,77.0,Right,None,Never,183.0,22.0
13,F,19.7,19.2,Right,R on L,79.0,Neither,Some,Never,168.0,23.0
14,F,17.1,17.9,Right,R on L,72.0,Neither,Some,Never,170.3,24.0
15,M,21.6,20.6,Right,L on R,75.0,Left,Some,Occas,176.0,23.0
16,M,18.6,18.3,Right,L on R,78.0,Right,Some,Never,184.0,23.0
17,M,23.5,24.0,Right,L on R,86.0,Right,Freq,Never,189.0,28.0
18,M,22.5,22.5,Right,Neither,59.0,Left,Freq,Never,182.0,25.0
19,M,21.5,21.5,Right,R on L,83.0,Right,Freq,Occas,181.0,30.0

In [28]:
data.describe()

          Wr.Hnd     NW.Hnd      Pulse      Height        Age
count  20.000000  20.000000  20.000000   20.000000  20.000000
mean   20.775000  20.680000  77.500000  175.265000  25.600000
std     1.596996   1.760861   7.917336    8.197193   2.479389
min    17.100000  17.900000  59.000000  158.000000  22.000000
25%    19.650000  19.025000  74.500000  170.000000  23.000000
50%    21.000000  20.900000  79.000000  174.000000  25.500000
75%    21.850000  22.000000  82.250000  181.250000  28.000000
max    23.500000  24.000000  89.000000  189.000000  30.000000